*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

p {
    margin-left: 0;
    margin-right: 0;
}
.km-button {
    font-size: 1.5em;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.primary {
    background: green !important;
}

#images {
    border: 1px dotted black;
    min-height: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
	margin: 1em 1rem 0 1rem;
}
#images > div {
    position: relative;
    display: inline-block;
    margin: 0.3em;
}
#images button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: red;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-family: Verdana;
    font-weight: bold;
}
#images canvas {
    max-width: 100px;
    max-height: 100px;
}
#images img {
    display: none;
}

#preview-container {
    opacity: 1;
    -webkit-transition: opacity 1s;
}
#preview-container.loading {
    opacity: 0;
    -webkit-transition: opacity 0s;
}

#result {
    width: 200px;
    text-align: center;
    margin: 1em auto;
}
a[href="#build"] { margin-top: 0.5em; }