*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

p {
    margin-left: 0;
    margin-right: 0;
}
.km-button {
    font-size: 1.5em;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.primary {
    background: green !important;
}

#images {
    border: 1px solid black;
    height: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
	margin: 1em 1rem 0 1rem;
}
#images canvas {
    max-width: 100px;
    max-height: 100px;
}
#images img {
    display: none;
}