<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.activities">
    <header data-role="header">
        <div data-role="navbar">
            Activities
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.viewModels.activities.logout">Log out</a>
            <a class="nav-button" data-align="right" data-role="button" data-icon="add" href="views/addActivityView.html"></a>
        </div>
    </header>

    <ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: activities"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br /><br />Tap on the plus sign and share what's on your mind.
    </p>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div data-role="touch" data-bind="events: { tap: activitySelected }">
        <div class="user-info">
            <h2>${User().DisplayName}</h2>
            <time class="timeSpan">${CreatedAtFormatted()}</time>
        </div>
        <div class="user-share">
            <a class="user-share-txt">${Text}</a>
        </div>
    </div>
</script>