<div data-role="view" id="signup" data-layout="default" class="form-view" data-model="app.viewModels.signup" data-show="app.viewModels.signup.show">
    <header data-role="header">
        <div data-role="navbar">
            Sign up
            <a class="nav-button" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </header>
    <form>
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li>
                <label for="signupName">Name</label>
                <input type="text" id="signupName" data-bind="value: DisplayName"/>
            </li>
            <li>
                <label for="signupEmail">Email</label>
                <input type="email" id="signupEmail" data-bind="value: Email"/>
            </li>
            <li>
                <label for="signupUsername">Username</label>
                <input type="text" id="signupUsername" data-bind="value: Username"/>
            </li>
            <li>
                <label for="signupPassword">Password</label>
                <input type="password" id="signupPassword" data-bind="value: Password"/>
            </li>
            <li>
                <label for="signupBirthDatePicker">Birth date</label>
                <input type="date" id="signupBirthDatePicker" data-bind="value: BirthDate"/>
            </li>
            <li>
                <label for="signupGenderPicker">Gender</label>
                <select id='signupGenderPicker' data-bind="value: Gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </li>
            <li class="txtarea-wrp">
                <label for="signupInfo">About</label> <textarea id="signupInfo" data-bind="value: About">User account created from the hybrid app.</textarea>
            </li>
        </ul>
    </form>
    <div class="sngl-btn-wrp">
        <a class="btn-signup btn-big" data-role="button" data-bind="click: signup">Register</a>
    </div>
</div>